<h1>マンダラートの詳細</h1>
<div class="field">
  <%= @mandala.name %>
</div>



<%= link_to '一覧を見る', mandalas_path %>
<%= link_to '新規作成', new_mandala_path %>
<%= link_to '編集する', edit_mandala_path(@mandala) %>
<%= button_to '削除する', mandala_path(@mandala), method: :delete %>
