<% content_for :scss do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<div class="title">
  <%= @mandala.name %>
</div>
<div class="container-fluid center-block" style="max-width: 1000px;">
  <div class="row">
    <% @mandala.cells.each do |cell| %>
      <% if cell.column == 1 %>
      <div class="col-sm-4 p-1">
        <div class="container-fluid">
          <div class="row">
      <% end %>
      <div class="col-4 p-0">
        <textarea class="cell" id="body<%= cell.row %><%= cell.column %>" cols="5" rows="2" wrap="soft" style="" readonly><%= cell.body%></textarea>
      </div>
      <% if cell.column == 9 %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<div class="no-p">
  <%= link_to '一覧を見る', mandalas_path %>
  <%= link_to '新規作成', new_mandala_path %>
  <%= link_to '編集する', edit_mandala_path(@mandala) %>
  <button id="pdf_print" class="btn btn-success print">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
      </svg>
      pdfで保存
  </button>
  <%= button_to '削除する', mandala_path(@mandala), method: :delete %>
</div>
<script>
  var printButton = document.getElementById("pdf_print");
  printButton.addEventListener("click", function() {
    window.print();
  });
</script>
