<header class="navbar fixed-top navbar-inverse" style="position: sticky;">
  <div class="container">
    <%= image_tag 'Imemo_Icon.png', size:9*9, alt: 'Icon' %>
      <ul class="nav navbar-nav navbar-right no-p">
        <% if !user_signed_in? %>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa-solid fa-user-plus"></i>  新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-right-to-bracket"></i>  ログイン
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-user"></i>  Home
            <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i>  ログアウト
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>