<!DOCTYPE html>
<html>
  <head>
    <title>Imemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :scss %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="no-p">
      <% if flash[:notice] %>
        <div class="alert alert-info no-p">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>

<!-- 
                                    !!!!!!!!!!!!
                                  !!            !!
                                !!                !!
                                !!      !!!       !!
                                !!      !!!       !!
                                  !!    !!!     !!
                                    !!   I    !!
                                     !!      !!
                                      !!!!!!!!
                                      !!!!!!!!
                                        !!!!
                       
                   !!!!!!!!!!!
                       !!!
                       !!!
                       !!!
                       !!!     !!!!!!!!!!!!!!!!     !!!!!!!     !!!!!!!!!!!!!!!!!       !!!!!!
                       !!!       !!!    !!   !!   !!!     !!!     !!!    !!    !!     !!!    !!!
                       !!!       !!!    !!   !!  !!!!!!!!!!!!     !!!    !!    !!    !!!      !!!
                       !!!       !!!    !!   !!  !!!              !!!    !!    !!     !!!    !!!
                  !!!!!!!!!!!!!  !!!    !!   !!   !!!!!!!!!!      !!!    !!    !!       !!!!!!

-->