<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <i class="fa-solid fa-user"></i>
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-user"></i>  Home
          <% end %>
        </li>
        <li>
          <%= button_to destroy_user_session_path, method: :delete do %>
            <i class="fa-solid fa-right-from-bracket"></i>  ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-user-plus"></i>  新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-right-to-bracket"></i>  ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
